/*          Page Not Found 














































































































































*/






































.tableradius-d{border-radius:6px}.awwbx  a{color:#1e2326;font-weight:700}.awwbx .s1{color:#145724;background-color:#d4edda;border:1px solid #c3e6cb}.awwbx .s1 a{color:#0a2e12;font-weight:700}.awwbx .s2  {color:#014286;background-color:#cbe5fe;border:1px solid #b8daff}.awwbx .s2   a{color:#0a315a;font-weight:700}.awwbx .s3 {color:#7a2930;background-color:#f8d7da;border:1px solid #f5c6cb}.awwbx .s3  a{color:#491217;font-weight:700}.awwbx .s4{color:#856404;background-color:#fff3cd;border:1px solid #ffeeba}.awwbx .s4 a{color:#554104;font-weight:700}.ribbon-1{border-radius:6px;border:2px dashed #c9c5c5;box-sizing:border-box;box-shadow:2px solid #000;margin:0 auto;outline:0;padding:10px;position:relative;vertical-align:baseline;width:100%}.ribbon-1:border-box{box-shadow:2px solid #c9c5c5}.ribbon-2{background:linear-gradient(#396 0,#26734d 100%);box-shadow:#000 0 3px 10px -5px;box-sizing:border-box;border-radius:2px;color:#fff;display:block;font-size:13px;font-weight:600;left:-19px;line-height:20px;position:absolute;text-align:center;text-transform:uppercase;top:20px;transform:rotate(-45deg);width:90px}.boxdescription{background:0 0;position:relative;margin:5px 5px;padding:15px 10px 15px;border:2px dashed rgba(179,179,179,.9);border-radius:5px;box-shadow:0 10px 20px 0 rgba(30,30,30,.07)} .boxdescription h2 {color:#fff!important;}.boxdescription.box1{margin:10px 2px}.boxdescription.box6{margin:10px 2px}.boxdescription.box2{margin:10px 2px}.boxdescription.box3{margin:10px 2px}.boxdescription.box4{margin:10px 2px}.boxdescription.box5{margin:10px 2px}.boxdescription h2{background:linear-gradient(to right,#11998e,#38ef7d);border-radius:3px;padding:8px 20px!important;position:absolute;margin:0!important;font-size:17px!important;color:#fff;top:-20px;font-weight:700;left:30px;text-transform:uppercase}.box1 h2{background:linear-gradient(to right,#ff4e50,#f9d423)!important}.box2 h2{background:linear-gradient(to right,#cc2b5e,#753a88)!important}.boxdownload h2{background:linear-gradient(to right,#1488cc,#2b32b2)!important}.box3 h2{background:linear-gradient(to right,#c245f7,#7557bd)!important}.box4 h2{background:linear-gradient(to right,#ab468e,#57314c)!important}.box5 h2{background:linear-gradient(to right,#34cfc2,#30736d)!important}.boxcode h2{background:linear-gradient(to right,#f857a6,#ff5858)!important}.button-b{display:inline-flex;cursor:pointer;background:#0059b3;color:#fff!important;font-weight:550;font-size:16px;padding:8px 20px;display:inline-block;border-radius:5px;margin:7px 7px;box-shadow:0 1px 6px rgba(32,33,36,.28);text-transform:uppercase;text-decoration:none}.button-b a{text-decoration:none!important;color:#fff !important;}.button-b.bstyle1{background:#aa80ff;color:#fff!important}.button-b.bstyle2{background:linear-gradient(to right,rgba(245,40,145,.8),rgba(255,129,198,.8));color:#fff!important}.button-b.bstyle3{background:#0c9;color:#fff!important}.button-b.bstyle4{background:#75a3a3;color:#fff!important}.button-b.bstyle5{background:linear-gradient(to right,#ff8c1a,#ffa64d);color:#fff!important}.button-b.bstyle6{background:#000;color:#fff!important}.button-b.tstyle1{background:0 0;border:2px #aa80ff solid;color:#aa80ff!important}.button-b.tstyle2{background:0 0;border:2px solid #f52891;color:rgba(245,40,145,.8)!important}.button-b.tstyle3{background:0 0;border:2px #0c9 solid;color:#0c9!important}.button-b.tstyle4{background:0 0;border:2px #75a3a3 solid;color:#75a3a3!important}.button-b.tstyle5{background:0 0;border:2px #ffa64d solid;color:#ff8c1a!important}.button-b.tstyle6{background:0 0;border:2px #000 solid;color:#000!important}.button-b.l1{font-size:16px;padding:5px 25px;border-radius:50px;background:linear-gradient(to right,#40bf80,#396);color:#fff!important}.button-b.l2{font-size:16px;padding:5px 25px;border-radius:50px;background:linear-gradient(to right,#8080ff,#66f);color:#fff!important}.button-b.l3{font-size:16px;padding:5px 25px;border-radius:50px;background:linear-gradient(to right,#ff8c1a,#ffa64d);color:#fff!important}.button-b.l4{font-size:16px;padding:5px 25px;border-radius:50px;background:linear-gradient(to right,#069,#0099e6);color:#fff!important}.awwbx {background-color:#e9ebee;color:#58606b;padding:10px;margin:10px 0;border:1px solid #dddfe2;border-radius:5px}.related1n1{background:linear-gradient(to right,#eee,#eee) #fff;border-color:#0077b5 #0077b5 #0077b5 #330bef;border-image:initial;border-radius:5px;border-style:solid;border-width:1px 1px 1px 3px;box-shadow:rgba(0,0,0,.1) 0 4px 15px;color:#df1023;font-family:sans-serif;font-size:15px;font-weight:900;margin:0 0 1.5em;padding:8px}.related1n1 a{background-repeat:no-repeat;background-size:0 6px,100% 6px;border:0;color:#2d75f1;margin:0;padding:0 0 4px;text-decoration-line:none;transition:background-size .3s ease-in-out 0s}.High-lite-boz1 h2{padding-top:8px;margin:0;border:2px dashed #0091ea;text-align:center;box-shadow:0 4px 7px rgb(115 74 197 / 45%);border-radius:0 20px 0 20px}.High-lite-boz1 h2:after{content:'';width:100%;background:linear-gradient(to right,rgb(45 134 89 / 0),rgb(140 217 179 / 90%),rgb(255 248 24 / 0));height:4px;display:block;margin:1px auto 0}.changelog{display:block;background-color:#f0f2f5;background-image:linear-gradient(#e4e6e9 50%,#f0f2f5 50%);background-size:44px 44px;overflow:visible;overflow-y:hidden;font-family:monospace;font-size:12px;line-height:22px;white-space:pre-wrap;padding:0 7px;border:1px solid #e4e6e9}.changelog strong{color:#000;}.animation-1{animation:bell 2.2s linear infinite;transform-origin:50% 0%}@keyframes bell{0%,100%,25%,75%{transform:rotate(0)}40%{transform:rotate(10deg)}45%{transform:rotate(-10deg)}55%{transform:rotate(8deg)}60%{transform:rotate(-8deg)}}
